:root {
  --black: rgba(8, 12, 20);
  --black-opacity: rgba(8, 12, 20, .8);
  --black-opacity-5: rgba(8, 12, 20, .5);
  --grey: rgb(52, 51, 60);
  --grey-opacity: rgba(52, 51, 60, .7);
  --light-grey: #768693
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;

}

/* Track */
::-webkit-scrollbar-track {
  background: var(--grey); 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--light-grey); 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-shadow: none;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  font-size: 16px;
  line-height: 1.15;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  font-family: var(--font-montserrat), sans-serif;
  color: #fff;
}

main{
  background-image: url('../../public/sunny.png');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 10px;
}

@media(min-width: 1024px){
  main{
    display: flex;
    align-items: center;
  }
}

h1{
  font-family: var(--font-montserrat), sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.dropdown{
  position: absolute;
  background: var(--grey);
  border-radius: 15px;
  padding: 10px;
  font-size: 12px;
  width: 100%;
  left: 0;
  top: calc(100% + 10px);
  z-index: 2;
}

ul.dropdown li{
  cursor: pointer;
  margin-bottom: 5px;
}

ul.dropdown li:last-child{
  margin-bottom: 0;
}

.relativ{
  position: relative;
}

input{
  outline: none;
  border: 0;
  background: var(--grey);
  border-radius: 50px;
  padding: 8px 30px;
  color: #fff;
  font-family: var(--font-montserrat), sans-serif;
  width: 100%;
}

.input-icon{
  position: absolute;
  left: 5px;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
}

/* Loader */

.loader{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
}

.spinner{
  width: 80px;
  height: 80px;
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 6px solid var(--turquoise);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container{
  background: var(--black-opacity);
  padding: 10px;
  max-width: 1024px;
  margin: auto;
  border-radius: 15px;
}

@media(min-width: 768px){
  .container{
    padding: 40px;
  }
}

@media(min-width: 1024px){
  .container{
    min-width: 1024px;
  }
}

/* @media(min-width: 1024px){
  .container{
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 20px;
  }
} */

.bg-wrapper{
  position: relative;
  border-radius: 15px;
  padding: 40px 10px;
  background-image: url('../../public/sunny.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 10px;
  margin-bottom: 20px;
}

@media(min-width: 1024px){
  .bg-wrapper{
    padding: 40px 15px;
    margin-bottom: 0;
  }
}

.sunny{background-image: url('../../public/sunny.png');}
.snow{background-image: url('../../public/snow.png');}
.rainy{background-image: url('../../public/rain.png');}
.cloudy{background-image: url('../../public/cloudy.png');}

.bg-wrapper::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--black-opacity-5);
  border-radius: 15px;
}

.bg-wrapper__content{
  position: relative;
  z-index: 1;
}

.grey-wrapper{
  background: var(--grey);
  border-radius: 15px;
  padding: 10px 5px;
}

.box-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.box{
  position: relative;
  border-radius: 15px;
  padding: 15px 10px;
  background: var(--black-opacity-5);
}

@media(min-width: 1024px){
  .box{
    padding: 20px 15px;
  }
}

.box__title{
  color: var(--light-grey);
  display: flex;
  font-size: 12px;
  text-transform: uppercase;
}

@media(min-width: 1024px){
  .box__title{
    font-size: 14px;
  }  
}

.box__title--border{
  border-bottom: 1px solid var(--light-grey);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.box__title svg{
  margin-right: 5px;
}

.box__content{
  font-size: 26px;
  line-height: 40px;
}

@media(min-width: 1024px){
  .box__content{
    font-size: 32px;
    line-height: 46px;
  }
}

.box__inner-container{
  display: flex;
  overflow: auto;
  width: 100%;
}

.box__inner-container span{
  font-size: 12px;
  display: block;
}

.box__inner-container p{
  font-size: 26px;
  margin: 0;
  margin-top: 15px;
}

.box__inner-container small{
  font-size: 12px;
  color: var(--light-grey);
}

.box__inner-container img{
  max-width: 40px;
  margin: auto;
  margin-top: 5px;
}

.box__inner-container .wrapper{
  border-radius: 15px;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.box__inner-container .wrapper--grey{
  background: var(--grey);
}

/* Margins */

.m-0{margin: 0}

.m-bottom-0{margin-bottom: 0}
.m-bottom-5{margin-bottom: 5px;}
.m-bottom-10{margin-bottom: 10px;}
.m-bottom-15{margin-bottom: 15px;}
.m-bottom-20{margin-bottom: 20px;}
.m-bottom-30{margin-bottom: 30px;}
.m-bottom-40{margin-bottom: 40px;}
.m-bottom-50{margin-bottom: 50px;}

.m-top-0{margin-top: 0}
.m-top-5{margin-top: 5px;}
.m-top-10{margin-top: 10px;}
.m-top-15{margin-top: 15px;}
.m-top-20{margin-top: 20px;}
.m-top-30{margin-top: 30px;}

.m-left-5{margin-left: 5px;}

@media(min-width: 768px){
  .m-md-bottom-0{
    margin-bottom: 0;
  }
}

/* Text aligment */

.text-left{text-align: left;}
.text-center{text-align: center;}
.text-right{text-align: right;}

/* Fonts sizes and family*/

.font-18{font-size: 18px;}
.font-20{font-size: 20px;}
.font-22{font-size: 22px;}
.font-24{font-size: 24px;}
.font-26{font-size: 26px;}
.font-28{font-size: 28px;}
.font-60{font-size: 60px;}

.current-temp{
  display: flex;
  align-items: center;
  justify-content: center;
}

.current-temp img{
  width: 80px;
}

.current-temp p{
  font-size: 48px; 
  line-height: 1;
  margin: 0;
  font-weight: 500;
  margin-bottom: 0;
}

@media(min-width: 1024px){
  .temp-font{font-size: 60px;}
}

.bold{font-weight: 700;}
.semi-bold{font-weight: 600;}
.regular{font-weight: 400;}

/* Grid */  

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.col {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 10px;
}

.col.xs-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}
.col.xs-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}
.col.xs-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.col.xs-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}
.col.xs-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}
.col.xs-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col.xs-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}
.col.xs-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}
.col.xs-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.col.xs-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}
.col.xs-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}
.col.xs-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 375px) {
  .col.s-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col.s-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col.s-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col.s-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col.s-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col.s-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col.s-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col.s-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col.s-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col.s-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col.s-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col.s-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-s-1{
    order: 1;
  }
}

@media (min-width: 768px) {
  .col.md-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col.md-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col.md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col.md-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col.md-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col.md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col.md-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col.md-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col.md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col.md-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col.md-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col.md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1024px) {
  .col.lg-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col.lg-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col.lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col.lg-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col.lg-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col.lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col.lg-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col.lg-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col.lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col.lg-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col.lg-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col.lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .col.xl-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col.xl-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col.xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col.xl-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col.xl-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col.xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col.xl-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col.xl-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col.xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col.xl-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col.xl-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col.xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1440px) {
  .col.xxl-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col.xxl-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col.xxl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col.xxl-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col.xxl-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col.xxl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col.xxl-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col.xxl-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col.xxl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col.xxl-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col.xxl-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col.xxl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.compass {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #888;
  background: #121212;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}

.compass::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border: 2px solid var(--light-grey);
  border-radius: 50%;
}

.direction {
  position: absolute;
  color: var(--light-grey);
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  background: var(--black);
  padding: 3px
}

.direction.n { top: 2px; left: 50%; transform: translateX(-50%); padding-top: 0;}
.direction.s { bottom: 0; left: 50%; transform: translateX(-50%); padding-bottom: 0;}
.direction.e { top: 50%; right: 3px; transform: translateY(-50%); padding-left: 0;}
.direction.w { top: 50%; left: 3px; transform: translateY(-50%); padding-right: 0;}

.needle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 35px;
  transform-origin: bottom center;
  z-index: 2;
}

.needle::before,
.needle::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50% 50% 0 0;
}

.needle::before {
  background: white;
  top: 0;
}

.center-dot {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  background: #ccc;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  box-shadow: 0 0 4px #fff;
}

/* Flex */

.flex{display: flex;}

.flex-align-end{align-items: flex-end;}
.flex-align-center{align-items: center;}
.flex-align-start{align-items: start;}

.flex-column{flex-direction: column;}
.flex-row{flex-direction: row;}

.space-between{justify-content: space-between;}
.space-center{justify-content: center;}
.space-around{justify-content: space-around;}
.flex-justify-end{justify-content: flex-end;}

.flex-v-center{
  display: flex;
  align-items: center;
}

@media(min-width: 768px){
  .flex-md-justify-end{justify-content: flex-end;}
}

@media(min-width: 1024px){
  .flex-lg{
    display: flex;
  }
}

.light-grey{color: var(--light-grey)}
.full-height{height: 100%;}

.uv{
  position: relative;
  height: 8px;
  width: 100%;
  background: linear-gradient(
    to right,
    #3cba54 0%,
    #f4c20d 25%,
    #f8961e 50%,
    #db3236 75%,
    #8e24aa 100%
  );
  border-radius: 5px;
}

.uv-dot{
  position: absolute;
  width: 14px;
  height: 14px;
  top: -3px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid var(--black);
}